## Operational stuff

### List of mini-projects:

1. Real estate evaluator (imobiliare.ro or any other real-estate wep-scrap source)
2. Restaurant price level evaluator (restocracy.ro or any other HORECA review site)
3. Stock exchange equity price prediction system (BVB, NASDAQ, etc)
4. Automatic image repository (any image source like pinterest, etc)

#### For any of above mini-projects you can pick (1st and 2nd " 1st come 1st served") to extend the mini project with:
- automatic web-scrapping
- grid search on models
- mini-serving website (Flask, Django, etc)
- presentation (ppt, pdf, etc)

In [132]:
import pandas as pd
import numpy as np

In [144]:
df = pd.read_csv('../data/imobiliare_bucuresti.csv')

In [145]:
df

,Unnamed: 0,nr cam,mp,parter,et1-2,et3+,etaj max,typ_decom,bloc nou,Price/Surface,Price,WebPage
0,1,2,56.00,0,1,0,2,1,1,639.29,35800,https://www.imobiliare.ro/vanzare-apartamente/...
1,2,2,57.00,0,1,0,2,0,1,628.07,35800,https://www.imobiliare.ro/vanzare-apartamente/...
2,3,2,67.00,0,1,0,2,1,1,591.04,39600,https://www.imobiliare.ro/vanzare-apartamente/...
3,4,1,48.00,0,1,0,2,1,1,620.83,29800,https://www.imobiliare.ro/vanzare-garsoniere/b...
4,5,3,89.60,0,0,1,3,1,1,1260.04,112900,https://www.imobiliare.ro/vanzare-apartamente/...
...,...,...,...,...,...,...,...,...,...,...,...,...
9892,9894,4,90.00,0,0,1,8,0,0,944.44,85000,https://www.imobiliare.ro/vanzare-apartamente/...
9893,9895,3,85.00,0,0,1,8,1,0,1588.22,134999,https://www.imobiliare.ro/vanzare-apartamente/...
9894,9896,2,48.00,0,0,1,4,0,0,1229.17,59000,https://www.imobiliare.ro/vanzare-apartamente/...
9895,9897,4,83.81,0,0,1,3,1,1,1312.49,110000,https://www.imobiliare.ro/vanzare-apartamente/...
9896,9898,1,35.00,0,0,1,4,1,1,1757.14,61500,https://www.imobiliare.ro/vanzare-garsoniere/b...

In [146]:
df = df.iloc[:,1:]

In [147]:
df.sort_values('mp')

,nr cam,mp,parter,et1-2,et3+,etaj max,typ_decom,bloc nou,Price/Surface,Price,WebPage
6306,1,15.0,0,0,1,4,0,0,1200.00,18000,https://www.imobiliare.ro/vanzare-garsoniere/b...
5949,1,16.0,0,1,0,1,0,0,1481.25,23700,https://www.imobiliare.ro/vanzare-garsoniere/b...
3346,1,16.0,0,0,1,4,1,0,1368.75,21900,https://www.imobiliare.ro/vanzare-garsoniere/b...
121,1,18.0,1,0,0,0,0,0,1277.78,23000,https://www.imobiliare.ro/vanzare-garsoniere/b...
2518,1,18.0,0,0,1,8,0,0,1999.94,35999,https://www.imobiliare.ro/vanzare-garsoniere/b...
...,...,...,...,...,...,...,...,...,...,...,...
5614,5,486.0,0,0,1,3,1,0,2037.04,990000,https://www.imobiliare.ro/vanzare-apartamente/...
5815,6,490.0,0,1,0,2,1,1,3061.22,1500000,https://www.imobiliare.ro/vanzare-apartamente/...
347,6,535.0,0,1,0,2,1,1,5573.83,2982000,https://www.imobiliare.ro/vanzare-apartamente/...
4857,10,608.0,0,1,0,2,1,0,1973.68,1200000,https://www.imobiliare.ro/vanzare-apartamente/...
807,8,621.0,0,0,1,6,0,1,4492.75,2790000,https://www.imobiliare.ro/vanzare-apartamente/...

In [148]:
df[df['nr cam']==2].sort_values('mp')

,nr cam,mp,parter,et1-2,et3+,etaj max,typ_decom,bloc nou,Price/Surface,Price,WebPage
9313,2,28.00,0,1,0,2,0,1,1428.57,40000,https://www.imobiliare.ro/vanzare-apartamente/...
5630,2,28.00,0,0,1,3,1,0,1160.71,32500,https://www.imobiliare.ro/vanzare-apartamente/...
3963,2,28.00,0,1,0,2,0,0,1017.86,28500,https://www.imobiliare.ro/vanzare-apartamente/...
8351,2,29.00,1,0,0,0,0,0,1068.97,31000,https://www.imobiliare.ro/vanzare-apartamente/...
4899,2,30.00,0,1,0,1,0,0,1033.33,31000,https://www.imobiliare.ro/vanzare-apartamente/...
...,...,...,...,...,...,...,...,...,...,...,...
1799,2,132.65,0,0,1,5,0,1,1102.47,146243,http://www.imobiliare.ro/vanzare-apartamente/b...
8233,2,150.00,1,0,0,0,1,1,460.00,69000,https://www.imobiliare.ro/vanzare-apartamente/...
7693,2,150.00,0,0,1,5,1,1,1333.33,200000,https://www.imobiliare.ro/vanzare-apartamente/...
7067,2,150.00,1,0,0,0,1,1,436.67,65500,https://www.imobiliare.ro/vanzare-apartamente/...
6046,2,160.00,0,0,1,5,1,1,993.75,159000,https://www.imobiliare.ro/vanzare-apartamente/...

In [149]:
df[df['nr cam']==2]['Price/Surface'].mean()

1474.9113194768793

In [150]:
df[df['nr cam']==3].sort_values('mp')

,nr cam,mp,parter,et1-2,et3+,etaj max,typ_decom,bloc nou,Price/Surface,Price,WebPage
2916,3,40.0,0,1,0,1,0,0,1697.50,67900,https://www.imobiliare.ro/vanzare-apartamente/...
9515,3,44.0,0,0,1,9,0,0,1079.55,47500,https://www.imobiliare.ro/vanzare-apartamente/...
8024,3,45.0,0,0,1,4,0,1,2620.00,117900,https://www.imobiliare.ro/vanzare-apartamente/...
8149,3,45.0,0,0,1,4,0,1,2620.00,117900,https://www.imobiliare.ro/vanzare-apartamente/...
1580,3,45.0,0,0,1,10,0,0,933.33,42000,https://www.imobiliare.ro/vanzare-apartamente/...
...,...,...,...,...,...,...,...,...,...,...,...
986,3,250.0,0,0,1,12,1,1,1272.00,318000,https://www.imobiliare.ro/vanzare-apartamente/...
6618,3,260.0,0,0,1,4,1,1,1076.92,280000,https://www.imobiliare.ro/vanzare-apartamente/...
594,3,261.0,0,0,1,3,1,1,1015.33,265000,https://www.imobiliare.ro/vanzare-apartamente/...
249,3,326.0,0,0,1,10,1,1,1165.64,380000,https://www.imobiliare.ro/vanzare-apartamente/...
4344,3,377.0,0,0,1,11,1,1,1193.63,450000,https://www.imobiliare.ro/vanzare-apartamente/...

In [151]:
df[df['nr cam']==3]['Price/Surface'].mean()

1668.330087064681

In [152]:
df = df.iloc[:,:-1]

In [153]:
df

,nr cam,mp,parter,et1-2,et3+,etaj max,typ_decom,bloc nou,Price/Surface,Price
0,2,56.00,0,1,0,2,1,1,639.29,35800
1,2,57.00,0,1,0,2,0,1,628.07,35800
2,2,67.00,0,1,0,2,1,1,591.04,39600
3,1,48.00,0,1,0,2,1,1,620.83,29800
4,3,89.60,0,0,1,3,1,1,1260.04,112900
...,...,...,...,...,...,...,...,...,...,...
9892,4,90.00,0,0,1,8,0,0,944.44,85000
9893,3,85.00,0,0,1,8,1,0,1588.22,134999
9894,2,48.00,0,0,1,4,0,0,1229.17,59000
9895,4,83.81,0,0,1,3,1,1,1312.49,110000
9896,1,35.00,0,0,1,4,1,1,1757.14,61500

In [154]:
TARGET_COLUMN = 'Price'

In [155]:
X_raw = df.values[:,:-2]
y = df[TARGET_COLUMN].values
X_raw.shape

(9897, 8)

In [156]:
X = (X_raw - X_raw.mean(axis=0)) / X_raw.std(0)
X.mean()

-1.1486999870831164e-17

In [157]:
n_obs = X.shape[0]
prc_test = 0.15

In [158]:
X[0]

array([-0.53209025, -0.4407173 , -0.37916377,  1.32806368, -1.02527641,
       -0.47415697,  0.62733652,  0.8280963 ])

In [159]:
y[0]

35800

In [160]:
random_seed = 1010

In [161]:
np.random.seed(random_seed)

In [162]:
test_positions = np.random.choice(2, size=n_obs, p=[1 - prc_test, prc_test])

In [163]:
X_train = X[~test_positions.astype(bool)]
y_train = y[~test_positions.astype(bool)]
X_test = X[test_positions.astype(bool)]
y_test = y[test_positions.astype(bool)]
print("X_train/y_train: {}/{}  X_test/y_test: {}/{}".format(X_train.shape, y_train.shape, X_test.shape, y_test.shape))

X_train/y_train: (8397, 8)/(8397,)  X_test/y_test: (1500, 8)/(1500,)

In [164]:
from sklearn.model_selection import train_test_split

In [165]:
X_trn, X_tst, y_trn, y_tst = train_test_split(X, y, test_size=prc_test, random_state=random_seed)
print("X_trn/y_trn: {}/{}  X_tst/y_tst: {}/{}".format(X_trn.shape, y_trn.shape, X_tst.shape, y_tst.shape))

X_trn/y_trn: (8412, 8)/(8412,)  X_tst/y_tst: (1485, 8)/(1485,)

In [166]:
Theta = np.linalg.pinv(X_train.T.dot(X_train)).dot(X_train.T).dot(y_train)

In [167]:
Theta

array([-3.13678002e+04,  1.61609523e+05, -1.06893374e+02, -4.94254931e+02,
        5.46049147e+02,  7.48719605e+03, -8.77909359e+03,  3.64635110e+03])

In [168]:
df.columns[:-2]

Index(['nr cam', 'mp', 'parter', 'et1-2', 'et3+', 'etaj max', 'typ_decom',
       'bloc nou'],
      dtype='object')

In [169]:
df_explain = pd.DataFrame(
    {
        'Feature': df.columns[:-2],
        'Importance':Theta
    }
)
df_explain

     Feature     Importance
0     nr cam  -31367.800175
1         mp  161609.522543
2     parter    -106.893374
3      et1-2    -494.254931
4       et3+     546.049147
5   etaj max    7487.196045
6  typ_decom   -8779.093591
7   bloc nou    3646.351104

In [170]:
y_pred = X_test.dot(Theta)

In [171]:
df_pred_vs_real = pd.DataFrame(
    {
        'Reality' : y_test,
        'Predictions' : y_pred
    }
)
df_pred_vs_real.head(20)

    Reality    Predictions
0     92500 -122702.216802
1     89000  -32832.882543
2    156000  -49722.600859
3    449888  381168.385361
4     85000  258676.035440
5    550000  405305.517620
6     58900   62377.451643
7     95000  -63879.470210
8     63900  -29564.513848
9     65000  -58336.530777
10   209999   46802.895333
11   130000  -16876.395572
12   108000  -41922.025988
13   177000   17275.136869
14   134500    -255.911586
15   124000  275362.023163
16   163284  -30176.543141
17    44000  -88540.828522
18    48000  -24175.142497
19   130000   19310.852256

In [172]:
df_pred_vs_real.tail(20)

      Reality    Predictions
1480    51300  -68293.943825
1481   121540  -20152.287120
1482    58000  -49667.932684
1483    32900 -117246.002477
1484   799000  326243.247187
1485    37700 -120514.939516
1486   289900  407218.228386
1487    50600  -47634.480622
1488    93450  -37610.224601
1489    72500  -13529.645612
1490    72000  -18995.709512
1491  1139000  231032.344657
1492    58000 -101727.999438
1493   118000  -35642.607041
1494   110000  -43927.362396
1495    84900   10398.186284
1496    26500 -140760.247397
1497    53490  -86648.831642
1498    62860  -69029.979946
1499    47000  -93721.467855

### So the results are not that great!
#### To-Do:

1. Change feature scaling method (maybe only some feature, maybe zero-scaling, etc)
2. Drop some features
3. See why two of the features are counter-intuitively reverse-correlated with target